<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
        <!-- Assign a unique value for your application (Use the same values when you encrypt and decrypt the Secrets). -->
        <add key ="entropy" value ="CD639595-9BA7-4F10-9FE7-07852D14ADE4: Salt Is Not A Password"/>
    </appSettings>
</configuration>
