<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
       <!-- Specify the key value of the chosen configuration in the runtime argument for this program. 
            This allows a single instance of this program to serve multiple different use-cases.

            Eg. OpenPgpBatchJob Config_RunAsSender_for_SystemA

            The value should be a valid filepath of the target config file.
        -->
       <add key ="Config_RunAsSender_for_SystemA" value ="asSenderForSystemA.app.config"/>
       <add key ="Config_RunAsRecipient_for_SystemA" value ="asRecipientForSystemA.app.config"/>


       <!-- SeriLog's Logging Configurations-->
        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console" />

        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="log.txt" />
        <add key="serilog:write-to:File.fileSizeLimitBytes" value="1234567" />
        <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
        <add key="serilog:write-to:File.rollingInterval" value="Day"/>

        <add key="serilog:minimum-level" value="Information" />
    </appSettings>
</configuration>
