<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
        <!-- Specify the Scenario Configuration Files - Require at least 1 entry
            
            This Batch Job supports multiple Scenario Configurations (eg. Config_RunAsSender_for_SystemA, Config_RunAsRecipient_for_SystemA, etc.). 
            This allows a single instance of this BatchJob to support multiple OpenPGP use cases - 
            eg. as a 'SenderRole with Partner-System-A' or as a 'RecipientRole with Partner-System-A', etc. 
            Each Execution of the Batch Job will be based on 1 chosen Scenario Configuration, specified in an input argument to run the job.

            Specify the key value of the chosen scenario configuration in the runtime argument for this program. 
            
            Eg. OpenPgpBatchJob Config_RunAsSender_for_SystemA

            The value should be a valid filepath of the target Scenario Configuration file.
            Sample Scenario Configuration Files (asSenderForSystemA.app.config & asRecipientForSystemA.app.config) are provided for reference. 
        -->
        <add key ="Config_RunAsSender_for_SystemA" value ="asSenderForSystemA.app.config"/>
        <add key ="Config_RunAsRecipient_for_SystemA" value ="asRecipientForSystemA.app.config"/>


        <!-- SeriLog's Logging Configurations-->
        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console" />

        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="logs\log.txt" />
        <add key="serilog:write-to:File.fileSizeLimitBytes" value="1234567" />
        <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
        <add key="serilog:write-to:File.rollingInterval" value="Day"/>

        <add key="serilog:minimum-level" value="Information" />
    </appSettings>
</configuration>
