<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
        <!-- START OF RECIPIENT's TEMPLATE-->
        <!-- Specify the Paths of the SourceFolder and DestinationFolder. -->
        <!-- Optionally specify a Path for an ArchiveFolder. The files in source folder will be moved into the Archive Folder for auto-housekeeping after being successfully processed if you specify a value for this attribute. If left blank, the files in the source folder will be left inside the Source Folder after processing. -->
        <!-- Use the Absolute Folder Path that is specific to your OS -->
        <!-- Eg. Windows D:\foo  vs Linux /urs/local/foo -->
        <add key ="SourceFolderPath" value ="C:\tmp\Recipient\src" />
        <add key ="DestinationFolderPath" value ="c:\tmp\Recipient\dest" />
        <add key ="ArchiveFolderPath" value ="C:\tmp\Recipient\archive"/>

        <!-- Optionally specify file prefixes to be added to the Destination and Archive Files. Leave Blank if not required. -->
        <add key ="DestinationFilePrefix" value="DECR_"/>
        <add key ="ArchiveFilePrefix" value=""/>

        <!-- Specify the ModeOfOperation: SENDER or RECIPIENT-->
        <add key="ModeOfOperation" value="RECIPIENT"/>
        <!-- END OF RECIPIENT's TEMPLATE-->
        
        <!-- Options for PassphraseProtectionMode: AWS_SECRETSMANAGER or WINDOWS_DPAPI or ASPNET_DPAPI  -->
        <add key ="PassphraseProtectionMode" value ="ASPNET_DPAPI"/>

        <!-- entropy is required for both WINDOWS_DPAPI & ASPNET_DPAPI. Assign a unique value for your application (Use the same value when you encrypt and decrypt the OpenPGP Private Key's SecretPassPhrases). -->
        <add key ="entropy" value ="CD639595-9BA7-4F10-9FE7-07852D14ADE4: Salt Is Not A Password"/>
        <!-- SSLCertDistinguishedSubjectName is required for ASPNET_DPAPI. Assign a unique value for your application (Use the same value when you encrypt and decrypt the OpenPGP Private Key's SecretPassPhrases). -->
        <add key ="SSLCertDistinguishedSubjectName" value ="CN=Application X ASP.NET Core Data Protection Certificate"/>

        <add key="SenderEmailAddress" value ="alice@home.internal"/>
        <!-- The Secret Name of the AWS Secrets-->
        <add key="SenderAWSSecretsName" value ="prod/AliceSecretPassPhrase"/>
        <!-- Encrypted Passphrase using Windows Data Protection API -->
        <add key="SenderEncryptedSecretPassPhrase_WIND_DPAPI" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAAAMUfh/kZUKQSKz/i/RYKCsof/PReG7BeuMoCnst5MYQAAAAAOgAAAAAIAACAAAADGB1TodbsobovVDvodRUQmkM5K6t4IFYnYmXDQ11utIzAAAAA88IcctDyUNaIMP/0tb93ORd8hgbA6vtMioQj7uwER0Owm2L6h2CYW+VDYMHF9LMtAAAAAAfGv+dU5HZWIdY7pavBwh0Ax1odVewG/U98glcYbwkRJ5urXvmiYNabWUDQIIeSbRe5EG62M5onUm2nI1w+q8Q=="/>
        <!-- Encrypted Passphrase using ASP.NET Core Data Protection API -->
        <add key="SenderEncryptedSecretPassPhrase_ASP_DPAPI" value="CfDJ8Dq1Y/s//t1Lr+d4mOtw0Hjq/eNiAPicoomabubNSDp8RjMi7vrbvp5RFiXCOOi+57wy/GxzPMrPGmZpTmB3FQMLou9ddknjrzXyzqEpmg1+zY8tYeJxvaKcXojDRL3GovPvTOEHZLOpnq+yRUp6bjBAxJDYrEmOhOcU0xnes/iI"/>

        <add key="RecipientEmailAddress" value ="bob@home.internal"/>
        <!-- The Secret Name of the AWS Secrets-->
        <add key="RecipientAWSSecretsName" value ="prod/BobSecretPassPhrase"/>
        <!-- Encrypted Passphrase using Windows Data Protection API -->
        <add key="RecipientEncryptedSecretPassPhrase_WIND_DPAPI"   value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAAPC8Ba8i2vyOUDaTxy8Euj/QBpCx4NYFIBkfOjtxEWSgAAAAAOgAAAAAIAACAAAADB3DkW0zKvMRTQw+HkFdd6GHq3HTPTvRx4eR+FEJ0AJTAAAACEeJyAJQ8ipGShPyxt4x5n+brc+mmBTlKTzhHMafDmL2+VerHWZWP+57GMKNQxz4VAAAAA9NeAYuH+QAoK5JR0Q6nbT28NqqWIJkXScg+/WcyLlCIrdG4iplOUraxQ/scSUSHE5LA7z03Oe3HBm79jZI5phA=="/>
        <!-- Encrypted Passphrase using ASP.NET Core Data Protection API -->
        <add key="RecipientEncryptedSecretPassPhrase_ASP_DPAPI"   value="CfDJ8Dq1Y/s//t1Lr+d4mOtw0HjXBdmQ5MnOI1jehwnNzseuEjETTD6wlID61BevAAAAE/0zTo8eWhtqrCfnkLaP5ZLJL06V7FEwthiwbXF/APuZya8Im9Na+ajr0D7ANU6P0g53szpPAt9wv0AEzdDnyDwYq8V0Igwjr0gWzzV70RTC"/>
    </appSettings>
</configuration>
