<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
        <add key ="IsUsingAWSSecretsManager" value ="false"/>
        <add key="AliceEmailAddress" value ="alice@home.internal"/>
        <add key="AliceEncryptedSecretPassPhrase" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAACCxJQwToFhMTi1MVvlw+rIa/zJ0DahYmmR5qsYoJDo3AAAAAAOgAAAAAIAACAAAAC8H7WsO5x80kii7QnqBksW9rpbThCrhYQTfPvKWZBn4jAAAABo0VFPP51ybs+6okozuKWgNRKrWBA5pcmy6lE0prQ6W9H/9U/iR/xiBlYukyyTn+tAAAAApOgFtFplC+JXOGLBObfV3ckm2RfgtgoVz0spn48NTNvKJh9XjRnv8t7EFybvdWJDzEiTKjFsusAyinzXWbl20g=="/>
        <add key="BobEmailAddress" value ="bob@home.internal"/>
        <add key="BobEncryptedSecretPassPhrase"   value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAChkXUrY0s9YePNePQvjrtSvuy80vr7b5feK4YliLAMdgAAAAAOgAAAAAIAACAAAAC6wSGV1MlI823TyUB4ELVIsIcKammN7GbtwaEdP3MCtTAAAACHitY5ZNjIChcmfMP7jSNuPySh2VlrQfjtAljm+zmjdNz2rk7XGhfXEBa/7ngsyF9AAAAAs8cQRbbQ+l9pq3krTib0eyZ053DmcEM5tF3AqU0qIrljGSbsfXzKS5wNAIy1VyeJBHW6J9iydgYa3sOKnXJXhg=="/>
    </appSettings>
</configuration>
