<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
        <add key ="IsUsingAWSSecretsManager" value ="false"/>
        <add key="AliceEmailAddress" value ="alice@home.internal"/>
        <add key="AliceEncryptedSecretPassPhrase" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAAwUYFAinjnLmD996L/GpqISFAavk7VvFV9nWi4Kh67kwAAAAAOgAAAAAIAACAAAADppbWF7NsOAW+6RJSpBBaOPEgViTpHaf7Xj1NrSYf66zAAAACZHJ1bFJpuvAJl1scFYahgfwxrS+cC11TEZ8OSOE+RE0QGK+6XJxm3bRA6cdT+DOdAAAAAO/hQ26QslWa7tyUDWcwS3N+RyFASEEpmAfXLUjtXJiLbRJ0937WTpuZdcN11tazW6EL1BjDdF8zXN9ocFIk2hA=="/>
        <add key="BobEmailAddress" value ="bob@home.internal"/>
        <add key="BobEncryptedSecretPassPhrase"   value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAChkXUrY0s9YePNePQvjrtSvuy80vr7b5feK4YliLAMdgAAAAAOgAAAAAIAACAAAAC6wSGV1MlI823TyUB4ELVIsIcKammN7GbtwaEdP3MCtTAAAACHitY5ZNjIChcmfMP7jSNuPySh2VlrQfjtAljm+zmjdNz2rk7XGhfXEBa/7ngsyF9AAAAAs8cQRbbQ+l9pq3krTib0eyZ053DmcEM5tF3AqU0qIrljGSbsfXzKS5wNAIy1VyeJBHW6J9iydgYa3sOKnXJXhg=="/>
    </appSettings>
</configuration>
