<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0"/>
    </startup>
    <appSettings>
        <add key ="IsUsingAWSSecretsManager" value ="false"/>
        <add key ="entropy" value ="CD639595-9BA7-4F10-9FE7-07852D14ADE4: Salt Is Not A Password"/>
        <add key="AliceEmailAddress" value ="alice@home.internal"/>
        <add key="AliceEncryptedSecretPassPhrase" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAAAMUfh/kZUKQSKz/i/RYKCsof/PReG7BeuMoCnst5MYQAAAAAOgAAAAAIAACAAAADGB1TodbsobovVDvodRUQmkM5K6t4IFYnYmXDQ11utIzAAAAA88IcctDyUNaIMP/0tb93ORd8hgbA6vtMioQj7uwER0Owm2L6h2CYW+VDYMHF9LMtAAAAAAfGv+dU5HZWIdY7pavBwh0Ax1odVewG/U98glcYbwkRJ5urXvmiYNabWUDQIIeSbRe5EG62M5onUm2nI1w+q8Q=="/>
        <add key="BobEmailAddress" value ="bob@home.internal"/>
        <add key="BobEncryptedSecretPassPhrase"   value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUKXzFTADTkSAAvFiRg2qKgAAAAACAAAAAAAQZgAAAAEAACAAAAAPC8Ba8i2vyOUDaTxy8Euj/QBpCx4NYFIBkfOjtxEWSgAAAAAOgAAAAAIAACAAAADB3DkW0zKvMRTQw+HkFdd6GHq3HTPTvRx4eR+FEJ0AJTAAAACEeJyAJQ8ipGShPyxt4x5n+brc+mmBTlKTzhHMafDmL2+VerHWZWP+57GMKNQxz4VAAAAA9NeAYuH+QAoK5JR0Q6nbT28NqqWIJkXScg+/WcyLlCIrdG4iplOUraxQ/scSUSHE5LA7z03Oe3HBm79jZI5phA=="/>
    </appSettings>
</configuration>
